In [1]:
#Question 1
#Explain the key features of python that make it a popular choice for programming

In [3]:
#Answer 1
#Python is a programming language that is easy to understand and write, making it a popular choice among developers and programmers.
#It is compatible with various programming paradigms, such as procedural, object-oriented, and functional programming.
#Python has a large and active community of developers, an extensive standard library, and third-party packages for various domains.

In [4]:
#Question 2
#Describe the role of predefined keywords in Python and provide examples of how they are used in a program.

In [7]:
#Answer 2
#Keywords are reserved words in Python that have special meanings and cannot be used as identifiers (variable names, function names, etc.). 
#Examples of keywords include if, else, while, for, def, class, import, try, except, return, True, False, None, etc.
#Keywords are case-sensitive and cannot be redefined or overridden within a Python program.

In [8]:
#Example 1
print("Hello World")

Hello World

In [10]:
#Example 2
n = 7
if n <10:
     print ("n is less than 10")

n is less than 10

In [12]:
#Example 3
#List of all keywords
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [13]:
#Question 3
#Compare and contrast mutable and immutable objects in Python with Examples.

In [15]:
#Answer 3
#In Python, objects can be either mutable (modifiable) or immutable (unchangeable). 
#Mutable objects, such as lists and dictionaries, can be modified after creation, while immutable objects, such as tuples and strings, cannot. 
#Mutability affects how objects are stored and manipulated in memory, impacting performance, memory usage, and concurrency in Python programs.

In [19]:
#Mutable Objects like a list can be modified while immutable objects like strings cannot
a = [1, 4, 5, "Sun", "Moon"]

In [20]:
a

[1, 4, 5, 'Sun', 'Moon']

In [21]:
#mutability means to edit
#we can change the word 'Sun' to Yellow since a list is a mutable object
a[3] = "Yellow"

In [22]:
a

[1, 4, 5, 'Yellow', 'Moon']

In [24]:
#above we can see the content of the list: 'Sun' has been edited and changed to 'Yellow'
#But if we try to edit an immutable object like a string Python will show an error
"Sun"= 1

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (4150365368.py, line 3)

In [25]:
#Question 4
#Describe the types of operators in Python and provide examples of how they are used.

In [26]:
#Answer 4
#Operators are special symbols or keywords that are used to carry out specific actions on numbers or variables in Python expressions. 
#Python supports various types of operators, including arithmetic operators (+, -, *, /), comparison operators (==, !=, <, >), logical operators (and, or, not), assignment operators (=, +=, -=, *=, /=), etc.
#Operators have precedence and associativity rules that determine the order of evaluation in expressions

In [30]:
#Arithmetic Operators
#These operators perform basic mathematical operations.
a = 5
b = 3
n = a + b
m = a - b
x = a * b
y = a/b

In [29]:
n

8

In [31]:
m

2

In [32]:
x

15

In [33]:
y

1.6666666666666667

In [34]:
#Comparison operators
#These operators compare two values and return a Boolean value (True or False).

In [35]:
a == b

False

In [36]:
a != b

True

In [37]:
a < b

False

In [38]:
a > b

True

In [39]:
#Logical operators
#These operators are used to combine conditional statements.

In [46]:
o = ( a > 2 and b < 6 )

In [47]:
o

True

In [48]:
o = ( a > 2 and b > 6 )

In [49]:
o

False

In [50]:
o = not(a>2)

In [51]:
o

False

In [52]:
#Assignment operators
#These operators are used to assign values to variables.

In [53]:
x = 10

In [54]:
x +=3

In [55]:
x

13

In [56]:
x-=3

In [57]:
x

10

In [58]:
x*=3

In [59]:
x

30

In [60]:
x/=4

In [62]:
x

7.5

In [63]:
#Bitwise Operators
#These operators work with bits and perform bit-by-bit operations.

In [70]:
a = 5
b = 3
o = a & b

In [71]:
o

1

In [74]:
o = a | b

In [75]:
o

7

In [76]:
o = a^b

In [77]:
o

6

In [78]:
o = ~a

In [79]:
o

-6

In [85]:
o = x << 1

In [86]:
o

10

In [87]:
o = x >> 1

In [88]:
o

2

In [89]:
#Identity Operators
#These operators compare the memory locations of two objects.

In [90]:
a = ["orange", "mango"]
b = ["apple", "banana"]

In [91]:
a is b

False

In [92]:
a is not b

True

In [93]:
#Membership Operators
#These operators test for membership in a sequence (such as strings, lists, or tuples).

In [94]:
"orange" in a

True

In [95]:
"mango" in b

False

In [96]:
#Question 5
#Explain the concept of typecasting in Python with examples

In [105]:
#Answer 5
#Typecasting in Python, also known as type conversion, is the process of converting one data type into another.
#The most commonly used functions for typecasting are:

#int(): Converts a value to an integer.
#float(): Converts a value to a float.
#str(): Converts a value to a string.
#list(): Converts a value to a list.
#tuple(): Converts a value to a tuple.
#set(): Converts a value to a set.
#dict(): Converts a value to a dictionary (requires a sequence of key-value pairs).

In [100]:
#Examples

#Converting a float to an integer
x = 7.9
y = int(x)  
print(y) 
print(type(y))

7
<class 'int'>

In [101]:
#Converting an integer to a string:

age = 25
age_str = str(age)
print(age_str)
print(type(age_str))

25
<class 'str'>

In [102]:
#Converting a string to a float:

height = "5.8"
height_float = float(height) 
print(height_float) 
print(type(height_float))

5.8
<class 'float'>

In [103]:
#Converting a list to a set:

fruits = ["apple", "banana", "cherry", "apple"]
fruits_set = set(fruits)  
print(fruits_set)  
print(type(fruits_set))

{'banana', 'apple', 'cherry'}
<class 'set'>

In [104]:
#Converting a tuple to a list:

numbers = (1, 2, 3)
numbers_list = list(numbers) 
print(numbers_list) 
print(type(numbers_list))

[1, 2, 3]
<class 'list'>

In [110]:
#Use Cases of Typecasting

In [1]:
#User Input: The input() function returns a string by default, so you might need to typecast the input to an integer or float.

## age = int(input("Enter your age:")) #user will be asked to provide an input

In [1]:
#Mathematical Operations: If you need to perform a division and get an integer result, you might want to typecast the result to int

result = int(10 / 3)
print(result)

3

In [2]:
#Question 6
#How do conditional statements work in python?Illustrate with examples

In [3]:
#Answer 4

#Conditional statements in Python allow you to execute certain blocks of code based on whether a condition is True or False.
#They are essential for decision-making in programming. The most common conditional statements in Python are if, elif, and else.

In [4]:
#The if statement evaluates a condition, and if the condition is True, the block of code under the if statement is executed.

age = 18
if age >= 18:
    print("You are eligible to vote.")

You are eligible to vote.

In [5]:
#The else statement is used to define an alternative block of code that will be executed if the condition in the if statement is False

age = 16
if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

You are not eligible to vote.

In [7]:
#The elif (short for "else if") statement allows you to check multiple conditions.If the first condition is False, the elif statement checks the next condition, and so on. 
#You can use multiple elif statements to handle different conditions.

marks = 85

if marks >= 90:
    print("Grade: A")
elif marks >= 80:
    print("Grade: B")
elif marks >= 70:
    print("Grade: C")
else:
    print("Grade: D")

Grade: B

In [8]:
#You can place an if statement inside another if statement to create more complex conditions. This is called nesting.

age = 20
has_id = True

if age >= 18:
    if has_id:
        print("You can enter the club.")
    else:
        print("You need an ID to enter the club.")
else:
    print("You are too young to enter the club.")

You can enter the club.

In [9]:
#Python also allows for a shorthand if-else in the form of a conditional expression (ternary operator). Itâ€™s useful for assigning values based on a condition.

age = 17
status = "Adult" if age >= 18 else "Minor"
print(status)

Minor

In [10]:
#You can combine multiple conditions using logical operators such as and, or, and not

age = 25
citizen = True

if age >= 18 and citizen:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

You are eligible to vote.

In [11]:
#Question 7
#Describe the different types of loops in python and their use cases with examples.

In [16]:
#Answer 7
#Loops in Python are used to repeatedly execute a block of code as long as a specific condition is met.
#Python has two main types of loops: 'for' loops and 'while' loops. Each type of loop serves different purposes and is useful in various scenarios.

#'for' Loop

#The for loop is used to iterate over a sequence (like a list, tuple, dictionary, set, or string) or any other iterable object.
#It executes the block of code for each item in the sequence.

In [17]:
#Iterating over items in a list.

fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [20]:
#Using range() to Iterate Over Numbers

for i in range(5):
    print(i)

0
1
2
3
4

In [21]:
#Iterating Over a Dictionary:

student = {"name": "John", "age": 25, "grade": "A"}
for key, value in student.items():
    print(f"{key}: {value}")

name: John
age: 25
grade: A

In [22]:
#'while' Loop

#The while loop continues to execute the block of code as long as the condition is True. The loop will stop once the condition becomes False.

In [23]:
#Counting Down with a while Loop:

count = 5
while count > 0:
    print(count)
    count -= 1

5
4
3
2
1

In [ ]:
# 'break' Statement

#The break statement is used to exit a loop prematurely. It is often used when a certain condition is met and you want to stop further iterations.

In [1]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [2]:
#continue Statement

#The continue statement is used to skip the current iteration of the loop and move on to the next iteration.
#It's useful when you want to skip certain items in a loop.

In [3]:
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

In [4]:
#'else' Clause with Loops

#In Python, you can use an else clause with loops. The else block is executed after the loop finishes, unless the loop is terminated by a break statement.

In [5]:
for i in range(5):
    print(i)
else:
    print("Loop completed successfully.")

0
1
2
3
4
Loop completed successfully.

In [6]:
#Nested Loops
#A loop inside another loop is called a nested loop. The inner loop is executed for each iteration of the outer loop.

In [7]:
for i in range(3):
    for j in range(2):
        print(f"i={i}, j={j}")

i=0, j=0
i=0, j=1
i=1, j=0
i=1, j=1
i=2, j=0
i=2, j=1